<div class="row justify-content-md-center">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                Escanear ticket
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Id</label>
                    <input type="text" class="form-control" name="ticketId" [(ngModel)]="ticket.ticketId">
                </div>
                <button class="btn btn-primary btn-small" (click)="Escanear()">Escanear</button>
            </div>
        </div>
    </div>
</div>