<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>moq.dll</ModulePath>
                <ModulePath>ArenaGestor.apitest.dll</ModulePath>
                <ModulePath>ArenaGestor.businesstest.dll</ModulePath>
                <ModulePath>ArenaGestor.dataaccesstest.dll</ModulePath>
                <ModulePath>ArenaGestor.Domain.dll</ModulePath>
                <ModulePath>ArenaGestor.apicontracts.dll</ModulePath>
                <ModulePath>ArenaGestor.DataAccessInterface.dll</ModulePath>
                <ModulePath>ArenaGestor.DataAccessFactory.dll</ModulePath>
                <ModulePath>ArenaGestor.BusinessInterface.dll</ModulePath>
                <ModulePath>ArenaGestor.BusinessFactory.dll</ModulePath>
              </Exclude>
            </ModulePaths>
            <Functions>
                <Exclude>
					<Function>^ArenaGestor.Extensions..*</Function>
					<Function>^ArenaGestor.ImportExport..*</Function>
                    <Function>^ArenaGestor.Program..*</Function>
                    <Function>^ArenaGestor.Startup..*</Function>
                    <Function>^ArenaGestor.API.ArenaGestorAutoMapperProfile..*</Function>
                    <Function>^ArenaGestor.DataAccess.ArenaGestorContext..*</Function>
                    <Function>^ArenaGestor.DataAccess\.Migrations..*</Function>
                    <Function>^.*__DisplayClass.*$</Function>
					<Function>^.*b__.*$</Function>
                </Exclude>
            </Functions>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>